{
    "timetable": [
        {"lesson": 1, "start": "07:50", "end": "08:35"},
        {"lesson": 2, "start": "08:35", "end": "09:20"},
        {"lesson": 3, "start": "09:40", "end": "10:25"},
        {"lesson": 4, "start": "10:25", "end": "11:10"},
        {"lesson": 5, "start": "11:30", "end": "12:15"},
        {"lesson": 6, "start": "12:15", "end": "13:00"},
        {"lesson": 7, "start": "13:20", "end": "14:05"},
        {"lesson": 8, "start": "14:10", "end": "14:55"},
        {"lesson": 9, "start": "14:55", "end": "15:40"}
    ],
    "classes": [
        {
            "class_name": "Q1",
            "classID": "872",
            "whatsapp_groupID": "123456789123456789@g.us",
            "hasCommandPermission": true
        }
    ],
    "helpURL": "https://help.url"
}